**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- James DeLisio
- Karisma Kumar
- Chi Kiet Chou
- Anthony Gonzalez
- Chengyuan Mao

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

Our research question sets out to examine what characteristics of movies influence their user rating score on IMDB. In particular, we will look at the runtime, budget, genre, MPA (Motion Picture Association) Rating, and release month to see if any of these metrics correlate with movie’s average user rating score on IMDB. In addition, we want to treat revenue as a secondary outcome variable, and see how each factor listed earlier correlates with a film's revenue. Furthermore, we are curious about the relationship between revenue made by the movies and its user ratings.

## Background and Prior Work

The film industry has grown to one of the most competitive and expensive industries. Being one of the most influential forms of entertainment, studios compete against each other by making intentional choices and investing money in certain films, hoping for great returns from critics and audiences. Many large tech companies like Apple and Amazon pivoting toward the film industry to capitalize on successful movies to drive their comercial revenue, highlighting the power that films have as a source of profit for studios and companies. Thus, we are interested in seeing what kinds of movies are most favorable with audiences.This brings up the significance of movie ratings: IMDB, one of the largest and most popular movie databases, allows users to rate movies on a scale from 1-10. Due to its large number of users, IMDB's user ratings act as a relatively representative and direct metric for an audience's opinions on a film. In the paper “A Predictor for Movie Success”<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1), Ericson and Grodman proposed using machine learning to determine the relationships between sets of metrics about a film, and the film’s critics scores, audience scores, US gross revenue, open weekend gross revenue, and film’s IMDB rating. These sets of metrics contain the factors that we are interested in studying, among others. One of these models highlighted the audience score as the best predictor for a film’s success among all factors. This confirms our belief that there is a correlation between the features that we selected, with audience ratings.

Although the film industry is highly competitive, it has been seen several times that indie movies with low budgets from unknown studios can defy expectations with high revenue and ratings. In another study by Max Wasserman et al<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2), they pointed out the historical changes in correlation between movie budget and user ratings. Their results show a strong positive correlation between a film's budget and user ratings overall. However, the rise of independent distribution companies like A24 and Neon in recent years have made the earning potential for low-budget films higher than they have been historically. This suggests that the relationship between a film's budget and its user rating on IMDB may be more complicated than we initially thought. We hope to further investigate this relationship in our project.

With bigger budgets, movie studios and directors would concievably have more flexibility in choosing their film’s genre choices, runtime, release date, and even content, targeting specific MPA ratings to appeal to audiences with a certain level of maturity. All of these factors have their own advantages and tradeoffs for user ratings. In a paper by Pedro Garcia-del-Barrio and Hugo Zarco<a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3), they analyzed the influence of a film’s contents with its box office revenue. They included factors such as genre, mature content, and release season in their analysis. Their results showed a significant influence for all of those factors with box office revenue across 4 models. Furthermore, they also showed that certain genres of film have more significance than others, supporting our initial idea in our research question that certain types of films may systematically perform better than others. Although this paper didn’t cover user ratings, “A Predictor for Movie Success”<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) points out the positive correlation between a movie’s revenue and its user ratings. This suggests that the relationships we see between a film's characteristics and its revenue may also hold true for its user ratings, and vice versa. Hence, we hope to see the influence of genre, release date, and mature content (associated with a higher MPA Rating) translated into user ratings in our analysis.

While a film’s rating is a direct metric to measure the audience’s satisfaction, a profitable movie does not always make it highly rated, and vice versa. However, from the studio’s perspective, a lucrative film is a success. As such, we are also interested in seeing how the prior factors correlate to a film’s overall revenue.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Ericson, J., & Goodman, J. (2013). A predictor for movie success. CS229, Stanford University. https://cs229.stanford.edu/proj2013/EricsonGrodman-APredictorForMovieSuccess.pdf
 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Gama, D. (2023). Wasserman, M., Mukherjee, S., Scott, K., Zeng, X. H. T., Radicchi, F., & Amaral, L. A. (2015). Correlations between user voting data, budget, and box office for films in the internet movie database. Journal of the Association for Information Science and Technology, 66(4), 858-868. https://cgi.luddy.indiana.edu/~filiradi/Mypapers/asi23213.pdf
 
3. <a name="cite_note-3"></a> [^](#cite_ref-3) Garcia-del-Barrio, P., & Zarco, H. (2017). Do movie contents influence box-office revenues?. Applied Economics, 49(17), 1679-1688. https://merit.url.edu/en/publications/do-movie-contents-influence-box-office-revenues

# Hypothesis

We predict that of all of our listed factors, the budget and MPA rating of a film will be most strongly correlated with the IMDB average audience rating, with higher budgets and “R” ratings correlating with higher audience ratings. We predict that longer runtimes, being a drama, and being released during the summer will also correlate with a higher average rating on IMDB, since we imagine longer dramas released during summer blockbuster season are more likely to perform well with critics. Similarly, we expect the correlation of each factor will remain the same when put against revenue. In addition, we predict that revenue has a positive correlation with the average user ratings.

# Data

## Data overview

For our ideal dataset, we would need information on several metrics regarding films pulled from IMDB’s movie database. We would need the film’s average user rating, the runtime of the film, its budget (in USD), its total box office revenue (in USD), release month, genre, and MPA rating (G, PG, PG-13, R, etc). We should note that our monetary metrics (budget and revenue) should all be adjusted for inflation to make for a valid comparison. Previous sources have mentioned the difficulty of scraping data from IMDB due to its inconsistent data entry formats (data is stored in text documents, not in tables or .csv files). If possible, we hope to avoid scraping this data directly from IMDB and will instead seek out recent existing databases that contain information from IMDB. We will also be limiting our dataset to only include movies, although IMDB also includes television series in its database. There are numerous datasets from IMDB available on Kaggle. One of which, called "Movie Industry," contains all the necessary variables we would be analyzing. This dataset only includes information on films as recent as 2020, but for the purposes of this analysis, we feel that this time range should provide more than enough observations to see if any preliminary correlations exist.

## Dataset #1: "Movie Industry" Dataset
Dataset Name: "Movie Industry"
  - Link to the dataset: https://www.kaggle.com/datasets/danielgrijalvas/movies
  - Number of observations: 6820
  - Number of variables: 15

The primary dataset we will be using is titled "Movie Industry" by Daniel Grijalva (https://www.kaggle.com/datasets/danielgrijalvas/movies), sourced from Kaggle. This dataset contains several metrics about a selection of films from every year from 1986-2016, including all of the factors we want to test in our hypothesis. The key variables we will be selecting are: 
- "name" : gives the movie name as a string.
- "year : gives the film's release year as an int.
- "released" : gives the film's release date in YYYY-MM-DD format as a string.
- "budget" : gives the film's estimated budget in USD (not adjusted for inflation)
- "gross" : gives the film's estimated gross revenue in USD (not adjusted for inflation)
- "runtime" : gives the film's runtime in minutes as an int
- "genre" : gives the film's main genre as a string
- "score" : gives the film's average user rating on IMDB

These variables are all direct measures of the factors we want to examine in our hypothesis, so most of the wrangling necessary will simply be removing unecessary columns, dealing with NA values, and renaming columns for better usability. Also, we will need to convert the budget and revenue values to account for inflation, so that we can accurately compare the fiscal information for the films across time.

**SETUP**

First, we install pandas and seaborn, which we will be using for our analysis.

In [221]:
import pandas as pd
import seaborn as sns

pd.options.display.float_format = '{:.2f}'.format

Next, we load our dataset and look at the first few rows.

In [222]:
df = pd.read_csv('./assets/movies.csv')
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.40,927000.00,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.00,46998772.00,Warner Bros.,146.00
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.80,65000.00,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.00,58853106.00,Columbia Pictures,104.00
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.70,1200000.00,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.00,538375067.00,Lucasfilm,124.00
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.70,221000.00,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.00,83453539.00,Paramount Pictures,88.00
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.30,108000.00,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.00,39846344.00,Orion Pictures,98.00

Thankfully, it does not appear that our data needs much cleaning, as it is already relatively standardized. The main things we will need to do are to remove missing values, extract the release month from the 'released' column, and adjust the budget and revenue information for inflation.

First, we will drop all rows containing NA values, or rows where the "budget", "runtime", or "gross" are equal to 0. In the dataset notes on Kaggle, it was specified that these numerical values have a 0 where there was no data available, so we are treating 0 as an NA for these columns. We are dropping the entire row if any column is NA, since we would not be able to compare it to the other films in the dataset.

In [223]:
df = df.dropna()
df = df[(df['budget'] != 0) & (df['gross'] != 0) & (df['runtime'] != 0)]

Next, we will adjust our dataframe so it only includes the columns that are relevant to our research question. We chose to keep "year" even though it is not one of the factors we're interested in, since we will need to know what year a movie came out in to adjust the revenue and budget for inflation. 

Looking at our dataset now that we have removed the missing values and renamed some columns for clarity, we can see that there are 5421 observations for us to work with in our analysis.

In [224]:
#Grabbing relevant rows
df = df[['name', 'rating', 'genre', 'year', 'released', 'score', 'budget', 'gross', 'runtime']]
cleaned_df = df.rename(columns={'gross': 'revenue'})
cleaned_df

,name,rating,genre,year,released,score,budget,revenue,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.40,19000000.00,46998772.00,146.00
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.80,4500000.00,58853106.00,104.00
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.70,18000000.00,538375067.00,124.00
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.70,3500000.00,83453539.00,88.00
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.30,6000000.00,39846344.00,98.00
...,...,...,...,...,...,...,...,...,...
7648,Bad Boys for Life,R,Action,2020,"January 17, 2020 (United States)",6.60,90000000.00,426505244.00,124.00
7649,Sonic the Hedgehog,PG,Action,2020,"February 14, 2020 (United States)",6.50,85000000.00,319715683.00,99.00
7650,Dolittle,PG,Adventure,2020,"January 17, 2020 (United States)",5.60,175000000.00,245487753.00,101.00
7651,The Call of the Wild,PG,Adventure,2020,"February 21, 2020 (United States)",6.80,135000000.00,111105497.00,100.00
7652,The Eight Hundred,Not Rated,Action,2020,"August 28, 2020 (United States)",6.80,80000000.00,461421559.00,149.00

Next, we will be extracting the release month from the 'released' column.

To do so, we will be defining a function 'extract_month()' that checks the value of the 'released' column, and replaces it with only the month that is listed.

In [225]:
def extract_month(string):
    
    #convert the strings into usable format
    string = string.lower()
    string = string.strip()

    #Check to see which month the release date information contains, then preserving only that month
    if 'january' in string:
        string = 'January'
    elif 'february' in string:
        string = 'February'
    elif 'march' in string:
        string = 'March'
    elif 'april' in string:
        string = 'April'
    elif 'may' in string:
        string = 'May'
    elif 'june' in string:
        string = 'June'
    elif 'july' in string:
        string = 'July'
    elif 'august' in string:
        string = 'August'
    elif 'september' in string:
        string = 'September'
    elif 'october' in string:
        string = 'October'
    elif 'november' in string:
        string = 'November'
    elif 'december' in string:
        string = 'December'
    
    return string

Next, we apply extract_month() to our 'released' column to ensure that it properly extracted the release month.

In [226]:
cleaned_df['released'] = cleaned_df['released'].apply(extract_month)
cleaned_df

,name,rating,genre,year,released,score,budget,revenue,runtime
0,The Shining,R,Drama,1980,June,8.40,19000000.00,46998772.00,146.00
1,The Blue Lagoon,R,Adventure,1980,July,5.80,4500000.00,58853106.00,104.00
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.70,18000000.00,538375067.00,124.00
3,Airplane!,PG,Comedy,1980,July,7.70,3500000.00,83453539.00,88.00
4,Caddyshack,R,Comedy,1980,July,7.30,6000000.00,39846344.00,98.00
...,...,...,...,...,...,...,...,...,...
7648,Bad Boys for Life,R,Action,2020,January,6.60,90000000.00,426505244.00,124.00
7649,Sonic the Hedgehog,PG,Action,2020,February,6.50,85000000.00,319715683.00,99.00
7650,Dolittle,PG,Adventure,2020,January,5.60,175000000.00,245487753.00,101.00
7651,The Call of the Wild,PG,Adventure,2020,February,6.80,135000000.00,111105497.00,100.00
7652,The Eight Hundred,Not Rated,Action,2020,August,6.80,80000000.00,461421559.00,149.00

Finally, we rename the 'released' column to reflect the fact that it now only stores the month that the film was released in.

In [227]:
df = cleaned_df.rename(columns={'released' : 'month'})
df

,name,rating,genre,year,month,score,budget,revenue,runtime
0,The Shining,R,Drama,1980,June,8.40,19000000.00,46998772.00,146.00
1,The Blue Lagoon,R,Adventure,1980,July,5.80,4500000.00,58853106.00,104.00
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.70,18000000.00,538375067.00,124.00
3,Airplane!,PG,Comedy,1980,July,7.70,3500000.00,83453539.00,88.00
4,Caddyshack,R,Comedy,1980,July,7.30,6000000.00,39846344.00,98.00
...,...,...,...,...,...,...,...,...,...
7648,Bad Boys for Life,R,Action,2020,January,6.60,90000000.00,426505244.00,124.00
7649,Sonic the Hedgehog,PG,Action,2020,February,6.50,85000000.00,319715683.00,99.00
7650,Dolittle,PG,Adventure,2020,January,5.60,175000000.00,245487753.00,101.00
7651,The Call of the Wild,PG,Adventure,2020,February,6.80,135000000.00,111105497.00,100.00
7652,The Eight Hundred,Not Rated,Action,2020,August,6.80,80000000.00,461421559.00,149.00

The rest of our data cleaning involves adjusting the budget and revenue information for inflation. To do this, we will need to bring in a second dataset containing the Consumer Price Index in the US per year. This information is necessary for adjusting dollar amounts for inflation over time.

## Dataset #2: "Consumer Price Index for All Urban Consumers"
Dataset name: "Consumer Price Index for All Urban Consumers: All Items in U.S. City Average"
- Link to dataset: https://fred.stlouisfed.org/series/CPIAUCSL (sourced from the Federal Reserve Bank of St. Louis website)
- Number of observations: 925
- Number of variables: 2

This dataset contains the Consumer Price Index (CPI) averaged for all urban consumer goods for every month from 1947 until January, 2024. The CPI is a useful price index that allows the adjustment of dollar amounts in any year into any other year, accounting for inflation. We will be using this CPI information to correct our film budgets and revenues for inflation, allowing for a fair comparison of their budgets and earnings. The data will not need to be cleaned much, but we will need to wrangle it into a yearly format instead of a monthly one. The key variables of interest are:
- DATE: Lists the date that the CPI was calculated, in YYYY-MM-DD format as as string.
- CPI: Lists the CPI, as an int.

First, we import the dataset and take a look at it.

In [234]:
cpi = pd.read_csv('./assets/CPIAUCSL.csv')
cpi

           DATE  CPIAUCSL
0    1947-01-01     21.48
1    1947-02-01     21.62
2    1947-03-01     22.00
3    1947-04-01     22.00
4    1947-05-01     21.95
..          ...       ...
920  2023-09-01    307.29
921  2023-10-01    307.53
922  2023-11-01    308.02
923  2023-12-01    308.74
924  2024-01-01    309.69

[925 rows x 2 columns]

First, we will convert the 'DATE' column to datetime objects for ease of use. Then, since our movies dataframe only contains films from 1980 to 2020, we can truncate our cpi dataframe to only contain the information relevant to those years.

In [235]:
cpi['DATE'] = pd.to_datetime(cpi['DATE'])
# Filtering cpi to only include the years 1980-2020
cpi = cpi[(cpi['DATE'].dt.year <= 2020) & (cpi['DATE'].dt.year >= 1980)]

This dataframe measures the CPI monthly. For our purposes, we will be averaging the CPI's of a given year into a single CPI value representing that year. This will give us an identical 'year' column between dataframes to merge them later on. We rename the 'DATE' column to 'year' to merge them, and 'CPIAUSCL' to 'CPI' for ease of use.

In [236]:
# Group the CPI's by year, then take the mean of each year's CPI values
cpi = cpi.groupby(cpi['DATE'].dt.year).mean()
cpi.reset_index(drop=True)

# Truncate the information in the 'DATE' column to only show the year next to its calculated average CPI.
cpi['DATE'] = cpi['DATE'].dt.year
cpi = cpi.rename(columns={'DATE' : 'year', 'CPIAUCSL' : 'CPI'})
cpi.reset_index(drop=True)

    year    CPI
0   1980  82.38
1   1981  90.93
2   1982  96.53
3   1983  99.58
4   1984 103.93
5   1985 107.60
6   1986 109.69
7   1987 113.62
8   1988 118.27
9   1989 123.94
10  1990 130.66
11  1991 136.17
12  1992 140.31
13  1993 144.47
14  1994 148.22
15  1995 152.38
16  1996 156.86
17  1997 160.53
18  1998 163.01
19  1999 166.58
20  2000 172.19
21  2001 177.04
22  2002 179.87
23  2003 184.00
24  2004 188.91
25  2005 195.27
26  2006 201.56
27  2007 207.34
28  2008 215.25
29  2009 214.56
30  2010 218.08
31  2011 224.92
32  2012 229.59
33  2013 232.95
34  2014 236.72
35  2015 237.00
36  2016 240.01
37  2017 245.12
38  2018 251.10
39  2019 255.65
40  2020 258.85

Now that we have a table of CPI values for each year in our movies dataframe, we just need to calculate one more piece of information before we can merge our dataframes and begin to adjust our figures for inflation. 

To do so, you first set set a "base year" (in our case, 2020). Then, you divide the CPI in each year by the base year's CPI. Finally, you divide the actual dollar amount from the original year by that number to give you a figure adjusted for inflation to your base year. 

We will now add a new column to the CPI dataframe which stores the result of dividing each price index by the base year's CPI. We will call this value the 'inflation_adjustment'

In [237]:
# Dividing each CPI value by the CPI value for 2020 and storing in a new column
cpi['inflation_adjustment'] = cpi['CPI'] / cpi.iloc[40, 1]
cpi

      year    CPI  inflation_adjustment
DATE
1980  1980  82.38                  0.32
1981  1981  90.93                  0.35
1982  1982  96.53                  0.37
1983  1983  99.58                  0.38
1984  1984 103.93                  0.40
1985  1985 107.60                  0.42
1986  1986 109.69                  0.42
1987  1987 113.62                  0.44
1988  1988 118.27                  0.46
1989  1989 123.94                  0.48
1990  1990 130.66                  0.50
1991  1991 136.17                  0.53
1992  1992 140.31                  0.54
1993  1993 144.47                  0.56
1994  1994 148.22                  0.57
1995  1995 152.38                  0.59
1996  1996 156.86                  0.61
1997  1997 160.53                  0.62
1998  1998 163.01                  0.63
1999  1999 166.58                  0.64
2000  2000 172.19                  0.67
2001  2001 177.04                  0.68
2002  2002 179.87                  0.69
2003  2003 184.00                  0.71
2004  2004 188.91                  0.73
2005  2005 195.27                  0.75
2006  2006 201.56                  0.78
2007  2007 207.34                  0.80
2008  2008 215.25                  0.83
2009  2009 214.56                  0.83
2010  2010 218.08                  0.84
2011  2011 224.92                  0.87
2012  2012 229.59                  0.89
2013  2013 232.95                  0.90
2014  2014 236.72                  0.91
2015  2015 237.00                  0.92
2016  2016 240.01                  0.93
2017  2017 245.12                  0.95
2018  2018 251.10                  0.97
2019  2019 255.65                  0.99
2020  2020 258.85                  1.00

Now that we have all the information we will need in the cpi dataframe, we can merge our two dataframes on their shared 'year' column and adjust our budgets and revenues for inflation.

In [238]:
# Merging our two dataframes using their shared 'year' column.

combined_df = df.merge(cpi, on='year')
combined_df

,name,rating,genre,year,month,score,budget,revenue,runtime,CPI,inflation_adjustment
0,The Shining,R,Drama,1980,June,8.40,19000000.00,46998772.00,146.00,82.38,0.32
1,The Blue Lagoon,R,Adventure,1980,July,5.80,4500000.00,58853106.00,104.00,82.38,0.32
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.70,18000000.00,538375067.00,124.00,82.38,0.32
3,Airplane!,PG,Comedy,1980,July,7.70,3500000.00,83453539.00,88.00,82.38,0.32
4,Caddyshack,R,Comedy,1980,July,7.30,6000000.00,39846344.00,98.00,82.38,0.32
...,...,...,...,...,...,...,...,...,...,...,...
5416,Bad Boys for Life,R,Action,2020,January,6.60,90000000.00,426505244.00,124.00,258.85,1.00
5417,Sonic the Hedgehog,PG,Action,2020,February,6.50,85000000.00,319715683.00,99.00,258.85,1.00
5418,Dolittle,PG,Adventure,2020,January,5.60,175000000.00,245487753.00,101.00,258.85,1.00
5419,The Call of the Wild,PG,Adventure,2020,February,6.80,135000000.00,111105497.00,100.00,258.85,1.00
5420,The Eight Hundred,Not Rated,Action,2020,August,6.80,80000000.00,461421559.00,149.00,258.85,1.00

To adjust our budgets and revenues for inflation, we will divide each value by its inflation_adjustment and store the results in new columns, called 'adjusted_budget' and 'adjusted_revenue'. We will then print the dataset to see if our adjustments were successful.

In [239]:
combined_df['adjusted_budget'] = combined_df['budget'] / combined_df['inflation_adjustment']
combined_df['adjusted_revenue'] = combined_df['revenue'] / combined_df['inflation_adjustment']
combined_df

,name,rating,genre,year,month,score,budget,revenue,runtime,CPI,inflation_adjustment,adjusted_budget,adjusted_revenue
0,The Shining,R,Drama,1980,June,8.40,19000000.00,46998772.00,146.00,82.38,0.32,59697477.24,147668848.52
1,The Blue Lagoon,R,Adventure,1980,July,5.80,4500000.00,58853106.00,104.00,82.38,0.32,14138876.19,184914839.79
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.70,18000000.00,538375067.00,124.00,82.38,0.32,56555504.75,1691559647.85
3,Airplane!,PG,Comedy,1980,July,7.70,3500000.00,83453539.00,88.00,82.38,0.32,10996903.70,262208723.43
4,Caddyshack,R,Comedy,1980,July,7.30,6000000.00,39846344.00,98.00,82.38,0.32,18851834.92,125196116.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5416,Bad Boys for Life,R,Action,2020,January,6.60,90000000.00,426505244.00,124.00,258.85,1.00,90000000.00,426505244.00
5417,Sonic the Hedgehog,PG,Action,2020,February,6.50,85000000.00,319715683.00,99.00,258.85,1.00,85000000.00,319715683.00
5418,Dolittle,PG,Adventure,2020,January,5.60,175000000.00,245487753.00,101.00,258.85,1.00,175000000.00,245487753.00
5419,The Call of the Wild,PG,Adventure,2020,February,6.80,135000000.00,111105497.00,100.00,258.85,1.00,135000000.00,111105497.00
5420,The Eight Hundred,Not Rated,Action,2020,August,6.80,80000000.00,461421559.00,149.00,258.85,1.00,80000000.00,461421559.00

We now have a combined dataset showing each film, along with its characteristic information of interest to our research question, with its budget and revenue corrected for inflation to allows to perform valid comparisons. With all this done, we are ready to begin exploring our data and seeing what correlations exist.

# Ethics & Privacy

Throughout our research project, we aim to keep ethical practice and user privacy as top priorities in our process. All data we plan to use will be publicly available. A film’s revenue and information about its characteristics are all publicly available and impersonal information, and the IMDB average rating for a film is a mean taken from several anonymous individual reviewers, meaning our variables of interest are all ethically sourced. Our datasets will likely mostly be taken from Kaggle, which hosts publicly available data, and we plan to take full responsibility for the ethical implications of our results. 

While movies are a fairly casual and broad topic, we were careful in selecting our variables to consider any analysis that may be sensitive or allow room for misleading results or interpretations. While we are accessing user’s ratings of a film on IMDB, we have no access to user’s personal information, and are instead pulling an average rating from the scores of countless users, meaning the privacy of IMDB users is protected. We are committed to analyzing our data and interpreting our results in an objective and unbiased manner, and will strive to avoid misrepresenting our results or engaging in any faulty analytical practices (p-hacking, etc.). By choosing our data carefully and dedicating ourselves to fair research practices, we hope to maintain ethics and privacy in our project.

# Team Expectations

Our team will communicate through a discord server that we are all in. We will be able to chat continuously on the server, and have meetings on voice call or in person when necessary. We expect that each team member will make consistent and significant contributions to the project, from research, to data collection, to coding, and writing up the final report. We will divide up the work on each phase of the project as it comes to make sure that nobody takes on more work than is necessary, and we expect that all team members will communicate early if they have other responsibilities or anything urgent comes up.

# Project Timeline Proposal




| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| Week 5  |  2 PM | Create discord  | Discussed project topics, searched for datasets, discussed potential variables | 
| Week 7  |  7 PM | Project proposal, finding datasets | Update project proposal, Discuss EDA approach | 
| Week 8  | TBA  | Import data, wrangle data, perform EDA  | Discuss analysis approach, divide up work   |
| Week 10  | TBA  | Perform analysis and create visualizations | Discuss and interpret results, begin write-up   |
| Finals Week  | TBA  | Finish project write-up | Turn in Final Project & Group Project Surveys |